@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  text-align: center;
  color: #353535;
}

html, body, .container {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

header {
  padding: 16px 0 0 0;
}

header img {
  border-radius: 50%;
  margin: 16px 0;
}

header h1 {
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  font-weight: lighter;
  padding-bottom: 8px;
}

header p {
  padding: 0 8px;
  font-size: 0.95rem;
}

main {
  flex: 1;
}

main h2 {
  margin-top: 32px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: lighter;
}

main ul {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  list-style: none;
}

main li {
  margin: 8px 0;
  line-height: 24px;
}

main a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #454545;
  color: #f5f5f5;
  border: 2px solid #454545;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

main a:hover, main a:active {
  background-color: #ffffff;
  color: #454545;
  border-color: #959595;
}

main svg {
  position: absolute;
  left: 16px;
  width: 24px;
  fill: #f5f5f5;
  margin: 0 16px 0 0;
  transition: all 0.2s ease-in-out;
}

main a:hover>svg, main a:active>svg {
  fill: #454545;
}

footer {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  text-align: center;
}

footer a {
  color: inherit;
}

footer svg {
  width: 16px;
  fill: #454545;
  margin-left: 4px;
}
